
.search-bar {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  margin: 0;
}
.Title {
  display: flex;
  justify-content: center;
}

input{
  background-color: white;
}

.list-group {
  display: flex;
}